@font-face {
  font-family: "aileron";
  src: url("/fonts/aileron_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "aileron";
  src: url("/fonts/aileron_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/MyCustomFont.woff2") format("woff2"),
    url("/fonts/MyCustomFont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
